.Login {
  background-color: white;
}

.error {
  color: red;
}

.form-login {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.btn-submit {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  background-color: #1d8ead;
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  border: none;
}

.btn-submit:hover {
  background-color: #5edcff;
}

.btn-cancel {
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  background-color: #fa9d43;
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.1s ease-in-out;
  border: none;
}

.btn-cancel:hover {
  background-color: #ad5b0c;
}

@media screen and (min-width: 743px) {
  .form-login {
    width: 70%;
  }
}
