.Profile ul {
  list-style: none inside;
  margin-left: -40px;
}

.cert {
  margin: 10px;
}

.profile-body {
  background-color: white;
}

.profile-wishlist ul,
.profile-all-specs ul {
  text-align: left;
}

.profile-cert {
  background-color: #b1eafa;
  margin: 5px;
  border-radius: 50px;
}

.profile-wishlist li,
.profile-all-specs li {
  margin-left: 35px;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 690px) {
  .profile-body {
    display: flex;
  }

  .pofile-wishlist {
    order: 2;
  }
  .profile-certs {
    order: 1;
    flex: 1;
  }
  .profile-all-specs {
    order: 3;
    flex: 1;
  }
  .profile-wishlist {
    flex: 1;
  }
}
