.Profile ul {
  list-style: none inside;
  margin-left: -40px;
}

.cert {
  margin: 10px;
}

.profile-body {
  background-color: white;
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 690px) {
  .profile-body {
    display: flex;
  }

  .pofile-wishlist {
    order: 2;
  }
  .profile-certs {
    order: 1;
    flex: 2;
  }
  .profile-all-specs {
    order: 3;
  }
}
