.Log ul {
  list-style: none inside;
  margin-left: -40px;
}

.fulfilled {
  text-decoration: line-through;
}

.log-body {
  background-color: white;
}

.log-stats,
.log-wishlist {
  text-align: left;
}

.LogFilters {
  margin-bottom: 15px;
}

.log-dives fieldset {
  margin-top: 10px;
}

@media screen and (min-width: 743px) {
  .log-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .log-body :nth-child(1) {
    order: 1;
  }
  .log-body :nth-child(2) {
    order: 2;
  }
  .log-body :nth-child(3) {
    order: 3;
  }

  .log-dives {
    flex: 2;
  }

  .log-stats,
  .log-wishlist {
    flex: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
