.Log ul {
  list-style: none inside;
  margin-left: -40px;
}

.fulfilled {
  text-decoration: line-through;
}

.log-body {
  background-color: white;
}

.log-stats,
.log-wishlist {
  text-align: left;
}

.LogFilters {
  margin-bottom: 15px;
}

.log-dives fieldset {
  margin-top: 10px;
}

.log-dive {
  background-color: #b1eafa;
  margin: 5px;
  border-radius: 50px;
}

.log-dive a {
  color: black;
}

.log-details {
  text-transform: uppercase;
  font-size: 0.75em;
  padding-top: 20px;
}

/* BEGIN ACCORDION STYLE */

.accordion {
  border: 2px solid white;
  /* border radius doesn't work? */
  /* border-radius: 15px; */
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  background-color: #1d8ead;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  font-family: "Cinzel", serif;
  font-weight: bolder;
}

.accordion__button:hover {
  background-color: #43d2fa;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before {
  transform: rotate(45deg);
}

.accordion *[data-hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  background-color: #eefbff;
}

/* END ACCORDION STYLE */

@media screen and (min-width: 743px) {
  .accordion {
    min-width: 420px;
    /* if there are more dives, might want to get sticky to work */
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
  }

  .log-body {
    display: flex;
    align-items: flex-start;
  }

  .log-dives {
    flex: 2;
  }
}
