* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #aaa;
}

header {
  padding: 40px;
}

section {
  /* min-height: 200px; */
  padding: 6% 0;
  background-color: #bbb;
}

section:nth-child(even) {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: deepskyblue;
}

footer {
  font-size: 0.7em;
}
