* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
  background-color: #43d2fa;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  font-size: 4em;
}

h2,
legend {
  font-family: "Cinzel", serif;
}

nav,
footer {
  padding: 1% 0;
  background-color: #1d8ead;
}

header {
  padding: 40px;
}

section {
  padding: 10px;
  background-color: white;
}
a {
  text-decoration: none;
}
footer {
  font-size: 0.7em;
}
