.nav-container {
  display: flex;
}

.nav-container a:first-child {
  margin-right: auto;
}

.nav-container a {
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-container a:hover {
  color: deepskyblue;
}
