.nav-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.navlink {
  padding: 10px;
  border-radius: 10px;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
  font-family: "Cinzel", serif;
}

.navlink:hover {
  background-color: #43d2fa;
}

@media screen and (min-width: 468px) {
  .nav-container {
    flex-direction: row;
  }

  .nav-container a:first-child {
    margin-right: auto;
  }
}
