.SignUp {
  background-color: white;
}

.pass-info {
  width: 100%;
  margin: 0 auto;
}

.small {
  font-size: 0.8em;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.sign-up-input {
  margin: 0 auto;
}

.form-signup {
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 468px) {
  .form-signup {
    width: 70%;
  }

  .sign-up-input {
    width: 80%;
  }

  .pass-info {
    width: 80%;
  }
}

@media screen and (min-width: 1315px) {
  .signup-section {
    display: flex;
    justify-content: space-between;
  }

  .signup-column-1 {
    column-count: 2;
  }

  .signup-column-2 {
    /* display: flex;
    justify-content: space-between; */
    column-count: 4;
  }

  /* .col {
    display: inline-block;
  } */
}
